<!-- Para que el agregar se muestre como un componente encima del resto -->
<div *ngIf="mostrarAgregar">
    <button class="closeBtn" mat-raised-button focusable="false" (click)="showAdd()" style="background-color: #79a6fe; color: white;">
        X
    </button>
    <app-agregar-planilla></app-agregar-planilla>
</div>


<div class="cardContainer">

    <mat-card class="tableCard">
        <button class="atras" (click)="navegarAtras()">
            <mat-icon class="flecha-icon" >arrow_backward</mat-icon>
          </button>
        <mat-card-title class="titulo">Lista de Movimientos de Planilla</mat-card-title>
        <div class="contenedorOpciones">

            <form>

                <!-- <div class="inputs"> -->
                <!-- <h1>Editar centro de costo</h1> -->
                <div class="search">
                    <div class="busqueda">
                        <input class="inputsBusqueda" type="text" matInput placeholder="Buscar Movimiento de Planilla"
                            [(ngModel)]="busquedaConcepto" name="nombreCentroCostos" required>

                        <div class="buscador">
                            <button mat-raised-button color="edit" type="submit" focusable="false" (click)="buscar()"
                                class="btn3">
                                <mat-icon fontIcon="search">Buscar</mat-icon>
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="contenedorOpciones2">

                <button mat-raised-button style="background-color: #79a6fe; color: white;" type="submit" focusable="false"
                    (click)="showAdd()" class="btn2">
                    + Agregar Movimiento de Planilla
                </button>
            </div>
        </div>

        <div style="max-height: 500px; overflow-y: auto;">
            <table mat-table [dataSource]="planillas" class="fl-table">
                <!-- Position Column -->
                <ng-container matColumnDef="Codigo">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodigoConcepto}} </td>
                </ng-container>
                <!-- Concepto Column -->
                <ng-container matColumnDef="Concepto">
                    <th mat-header-cell *matHeaderCellDef> Concepto </th>
                    <td mat-cell *matCellDef="let element"> {{element.Concepto}} </td>

                </ng-container>
                <!-- Prioridad Column -->
                <ng-container matColumnDef="Prioridad">
                    <th mat-header-cell *matHeaderCellDef> Prioridad </th>
                    <td mat-cell *matCellDef="let element"> {{element.Prioridad}} </td>

                </ng-container>
                <!-- TipoOperacion Column -->
                <ng-container matColumnDef="TipoOperacion">
                    <th mat-header-cell *matHeaderCellDef> Tipo Operación </th>
                    <td mat-cell *matCellDef="let element"> {{element.TipoOperacion}} </td>

                </ng-container>

                <!-- Cuenta1 Column -->
                <ng-container matColumnDef="Cuenta1">
                    <th mat-header-cell *matHeaderCellDef> Cuenta1 </th>
                    <td mat-cell *matCellDef="let element"> {{element.Cuenta1}} </td>

                </ng-container>
                <!-- Aplica_iess Column -->
                <ng-container matColumnDef="Aplica_iess">
                    <th mat-header-cell *matHeaderCellDef> Aplica IESS </th>
                    <td mat-cell *matCellDef="let element"> {{element.Aplica_iess}} </td>

                </ng-container>
                <!-- Aplica_imp_renta Column -->
                <ng-container matColumnDef="Aplica_imp_renta">
                    <th mat-header-cell *matHeaderCellDef> Aplica Imp Renta </th>
                    <td mat-cell *matCellDef="let element"> {{element.Aplica_imp_renta}} </td>

                </ng-container>
                <!-- Empresa_Afecta_Iess Column -->
                <ng-container matColumnDef="Empresa_Afecta_Iess">
                    <th mat-header-cell *matHeaderCellDef> Empresa Afecta IESS </th>
                    <td mat-cell *matCellDef="let element"> {{element.Empresa_Afecta_Iess}} </td>

                </ng-container>

                <ng-container matColumnDef="Borrar">
                    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                    <td mat-cell *matCellDef="let element;">
                        <button mat-raised-button color="warn" focusable="false" (click)="btnBorrar(element)">
                            <mat-icon fontIcon="delete">Borrar</mat-icon>
                            Borrar
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef> Edición </th>
                    <td mat-cell *matCellDef="let element;">
                        <button mat-raised-button color="edit" focusable="false" (click)="btnEditar(element)">
                            <mat-icon fontIcon="edit">Editar</mat-icon>
                            Editar
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </mat-card>
</div>
<!-- <div class="contenedorOpciones">
    <button mat-raised-button color="edit" focusable="false" (click)="showAdd()">
        <mat-icon fontIcon="add-circle">Editar</mat-icon>
        Agregar Movimiento de Planilla
    </button>
</div> -->