<div class="cardContainer cardContainerAdd">
    <div class="containerAdd">


        <mat-card class="tableCard">
            <form>
                <div class="inputs">
                    <h1>Crear Trabajador</h1>
                    <div class="inputsSideContainer">
                        <div class="inputsSide">
                            <mat-form-field>
                                <mat-label>Nombres</mat-label>
                                <input name="Nombres" matInput [(ngModel)]="element.Nombres" placeholder="Nombres"
                                    value="Nombres">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Apellido_Paterno</mat-label>
                                <input name="Apellido_Paterno" matInput [(ngModel)]="element.Apellido_Paterno"
                                    placeholder="Apellido_Paterno" value="Apellido_Paterno">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Apellido_Materno</mat-label>
                                <input name="Apellido_Materno" matInput [(ngModel)]="element.Apellido_Materno"
                                    placeholder="Apellido_Materno" value="Apellido_Materno">
                            </mat-form-field>


                            <mat-form-field>
                                <mat-label>Identificacion</mat-label>
                                <input name="Identificacion" matInput [(ngModel)]="element.Identificacion"
                                    placeholder="Identificacion" value="Identificacion">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Entidad_Bancaria</mat-label>
                                <input name="Entidad_Bancaria" matInput [(ngModel)]="element.Entidad_Bancaria"
                                    placeholder="Entidad_Bancaria" value="Entidad_Bancaria">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>CarnetIESS</mat-label>
                                <input name="CarnetIESS" matInput [(ngModel)]="element.CarnetIESS"
                                    placeholder="CarnetIESS" value="CarnetIESS">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Compania</mat-label>
                                <mat-select [(ngModel)]="element.COMP_Cod" placeholder="Compania"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)" name="Compania">
                                    <mat-option *ngFor="let compania of emisores" [value]="compania.NombreEmisor">
                                        {{compania.NombreEmisor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Tipo Trabajador</mat-label>
                                <mat-select [(ngModel)]="element.Tipo_trabajador" placeholder="Tipo Trabajador"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="Tipo_trabajador">
                                    <mat-option *ngFor="let tipo of tipoTrabajador" [value]="tipo.Codigo">
                                        {{tipo.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Nivel_Salarial</mat-label>
                                <input name="Nivel_Salarial" matInput [(ngModel)]="element.Nivel_Salarial"
                                    placeholder="Nivel_Salarial" value="Nivel_Salarial">
                            </mat-form-field>


                            <mat-form-field>
                                <mat-label>EstadoTrabajador</mat-label>
                                <mat-select [(ngModel)]="element.EstadoTrabajador" placeholder="EstadoTrabajador"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="EstadoTrabajador">
                                    <mat-option *ngFor="let estado of estadosTrabajador" [value]="estado.Codigo">
                                        {{estado.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Tipo_Contrato</mat-label>
                                <mat-select [(ngModel)]="element.Tipo_Contrato" placeholder="tiposContrato"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="tiposContrato">
                                    <mat-option *ngFor="let tc of tiposContrato" [value]="tc.Codigo">
                                        {{tc.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>FechaNacimiento</mat-label>
                                <input name="FechaNacimiento" matInput [(ngModel)]="element.FechaNacimiento"
                                    placeholder="FechaNacimiento" value="FechaNacimiento">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>FechaIngreso</mat-label>
                                <input name="FechaIngreso" matInput [(ngModel)]="element.FechaIngreso"
                                    placeholder="FechaIngreso" value="FechaIngreso">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>FechaCese</mat-label>
                                <input name="FechaCese" matInput [(ngModel)]="element.FechaCese" placeholder="FechaCese"
                                    value="FechaCese">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>EsReingreso</mat-label>
                                <mat-select [(ngModel)]="element.EsReingreso" placeholder="EsReingreso"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="EsReingreso">
                                    <mat-option *ngFor="let er of esReingreso" [value]="er.Descripcion">
                                        {{er.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>FormaCalculo13ro</mat-label>
                                <input name="FormaCalculo13ro" matInput [(ngModel)]="element.FormaCalculo13ro"
                                    placeholder="FormaCalculo13ro" value="FormaCalculo13ro">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>FormaCalculo14ro</mat-label>
                                <input name="FormaCalculo14ro" matInput [(ngModel)]="element.FormaCalculo14ro"
                                    placeholder="FormaCalculo14ro" value="FormaCalculo14ro">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>BoniComplementaria</mat-label>
                                <input name="BoniComplementaria" matInput [(ngModel)]="element.BoniComplementaria"
                                    placeholder="BoniComplementaria" value="BoniComplementaria">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>BoniEspecial</mat-label>
                                <input name="BoniEspecial" matInput [(ngModel)]="element.BoniEspecial"
                                    placeholder="BoniEspecial" value="BoniEspecial">
                            </mat-form-field>
                        </div>

                        <div class="inputsSide">
                            <mat-form-field>
                                <mat-label>Direccion</mat-label>
                                <input name="Direccion" matInput [(ngModel)]="element.Direccion" placeholder="Direccion"
                                    value="Direccion">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Telefono_Fijo</mat-label>
                                <input name="Telefono_Fijo" matInput [(ngModel)]="element.Telefono_Fijo"
                                    placeholder="Telefono_Fijo" value="Telefono_Fijo">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Telefono_Movil</mat-label>
                                <input name="Telefono_Movil" matInput [(ngModel)]="element.Telefono_Movil"
                                    placeholder="Telefono_Movil" value="Telefono_Movil">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Género</mat-label>
                                <mat-select [(ngModel)]="element.Genero" placeholder="Género"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)" name="Género">
                                    <mat-option *ngFor="let genero of generos" [value]="genero.Codigo">
                                        {{genero.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field>
                                <mat-label>Nro_Cuenta_Bancaria</mat-label>
                                <input name="Nro_Cuenta_Bancaria" matInput [(ngModel)]="element.Nro_Cuenta_Bancaria"
                                    placeholder="Nro_Cuenta_Bancaria" value="Nro_Cuenta_Bancaria">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Codigo_Categoria_Ocupacion</mat-label>
                                <input name="Codigo_Categoria_Ocupacion" matInput
                                    [(ngModel)]="element.Codigo_Categoria_Ocupacion"
                                    placeholder="Codigo_Categoria_Ocupacion" value="Codigo_Categoria_Ocupacion">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Ocupacion</mat-label>
                                <input name="Ocupacion" matInput [(ngModel)]="element.Ocupacion" placeholder="Ocupacion"
                                    value="Ocupacion">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Centro De Costos</mat-label>
                                <mat-select [(ngModel)]="element.Centro_Costos" placeholder="Centro De Costos"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="Centro De Costos">
                                    <mat-option *ngFor="let cc of centroCostos" [value]="cc.Codigo">
                                        {{cc.NombreCentroCostos}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- <mat-form-field>
                                <mat-label>Tipo_Cese</mat-label>
                                <input name="Tipo_Cese" matInput [(ngModel)]="element.Tipo_Cese" placeholder="Tipo_Cese"
                                    value="Tipo_Cese">
                            </mat-form-field> -->
                            <mat-form-field>
                                <mat-label>Tipo_Cese</mat-label>
                                <mat-select [(ngModel)]="element.Tipo_Cese" placeholder="Tipo_Cese"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)" name="Tipo_Cese">
                                    <mat-option *ngFor="let tc of tiposCese" [value]="tc.Descripcion">
                                        {{tc.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- <mat-form-field>
                                <mat-label>EstadoCivil</mat-label>
                                <input name="EstadoCivil" matInput [(ngModel)]="element.EstadoCivil"
                                    placeholder="EstadoCivil" value="EstadoCivil">
                            </mat-form-field> -->

                            <mat-form-field>
                                <mat-label>EstadoCivil</mat-label>
                                <mat-select [(ngModel)]="element.EstadoCivil" placeholder="Estado Civil"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="EstadoCivil">
                                    <mat-option *ngFor="let ec of estadosCiviles" [value]="ec.Descripcion">
                                        {{ec.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>tiposComision</mat-label>
                                <mat-select [(ngModel)]="element.TipodeComision" placeholder="tiposComision"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="tiposComision">
                                    <mat-option *ngFor="let tc of tiposComision" [value]="tc.Descripcion">
                                        {{tc.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>PeriododeVacaciones</mat-label>
                                <mat-select [(ngModel)]="element.PeriododeVacaciones" placeholder="PeriododeVacaciones"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="PeriododeVacaciones">
                                    <mat-option *ngFor="let tv of tipoVacaciones" [value]="tv.Descripcion">
                                        {{tv.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>FechaReIngreso</mat-label>
                                <input name="FechaReIngreso" matInput [(ngModel)]="element.FechaReingreso"
                                    placeholder="FechaReingreso" value="FechaReingreso">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Fecha_Ult_Actualizacion</mat-label>
                                <input name="Fecha_Ult_Actualizacion" matInput
                                    [(ngModel)]="element.Fecha_Ult_Actualizacion" placeholder="Fecha_Ult_Actualizacion"
                                    value="Fecha_Ult_Actualizacion">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>TipoCuenta</mat-label>
                                <mat-select [(ngModel)]="element.Tipo_Cuenta" placeholder="TipoCuenta"
                                    (selectionChange)="actualizarValor('TipoOperacion', $event.value)"
                                    name="Tipo_Cuenta">
                                    <mat-option *ngFor="let tc of tiposCuenta" [value]="tc.Descripcion">
                                        {{tc.Codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Remuneracion_Minima</mat-label>
                                <input name="Remuneracion_Minima" matInput [(ngModel)]="element.Remuneracion_Minima"
                                    placeholder="Remuneracion_Minima" value="Remuneracion_Minima">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Fondo_Reserva</mat-label>
                                <input name="Fondo_Reserva" matInput [(ngModel)]="element.Fondo_Reserva"
                                    placeholder="Fondo_Reserva" value="Fondo_Reserva">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Mensaje</mat-label>
                                <input name="Mensaje" matInput [(ngModel)]="element.Mensaje" placeholder="Mensaje"
                                    value="Mensaje">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="botonagregar">
                        <button style="background-color: #79a6fe; color: white;" class="agregarbutton" mat-raised-button
                            focusable="false" (click)="crearNuevoCC()">
                            <mat-icon>add_circle_outline</mat-icon>
                            Agregar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>