<main>
    <section class="contenedor-campos ">


        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/Centro2.jpeg" alt="">
                </div>
                <a href="/listarcc">
                    <input mat-raised-button color="primary" type="submit" class="btn1" value="Centro de Costos">
                </a>
            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/CC.jpeg" alt="">
                </div>
                <a href="/listarPlanillas">
                    <input mat-raised-button color="primary" type="submit" class="btn1" value="Movimiento de Planillas">
                </a>
            </div>
        </div>

        <div class="contenedor">
            <div class="fondo1">
                <div class="fon-img">
                    <img src="assets/images/chn.jpeg" alt="">
                </div>
                <input mat-raised-button color="primary" type="submit" class="btn1" value="Trabajadores" (click)="goToWorkers()">
                
            </div>
        </div>



    </section>
</main>